header {
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

[data-theme="dark"] header {
  background: rgba(29, 32, 33, 0.5) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
}

[data-theme="light"] header {
  background: rgba(236, 238, 239, 0.5) !important;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1) !important;
}

.site-menu,
.col-content {
  max-height: calc(100vh - var(--top-app-bar-height) - var(--footer-height)) !important;
  top: var(--top-app-bar-height) + 32px !important;
  overflow-y: auto !important;
}

.site-menu {
  padding-right: 15px;
}

.tsd-navigation a {
  margin: 5px 0 !important;
}

.tsd-page-navigation a {
  padding: 0.28rem !important;
}

.col-sss::before {
  content: " ";
  display: block;
  width: 100%;
  height: 20px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  background-color: var(--md-sys-color-surface);
}

footer {
  margin-top: 32px !important;
}

footer>.tsd-generator:nth-child(1) {
  display: none !important;
}

.footer-link {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.footer-link h4 {
  margin-bottom: 8px;
}

.footer-link div:last-child {
  flex-basis: 100%;
  width: 100%;
  text-align: center;
}

.footer-link ul {
  padding: 0;
  list-style-type: none;
}

.container-main {
  grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) !important;
  grid-template-areas: "sidebar content" !important;
  padding: 15px !important;
}

.page-menu {
  display: none !important;
}


.col-content {
  box-sizing: unset !important;
  padding: 0 !important;
  border-radius: unset !important;
  background-color: unset !important;
}

.col-content>* {
  margin: 1.75rem 15px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1.75rem;
  border-radius: 28px;
  background-color: var(--md-sys-color-surface);
}
